.gameBoard {
	height: 2px;
	width: 3px;
	padding-bottom: 30px;
	padding-left: 125px;
	position: static;
}

#body {
	background-image: url('red.jpg');
}

#header {
	font-family: 'Roboto', sans-serif;
	display: flex;
	justify-content: space-evenly;
	font-size: 65px;
	color: white;
}
#modal {
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
	display: none;
}
#modal-textbox {
	background-image: url('https://cdn.mos.cms.futurecdn.net/FGicVTjLV85SWuS8sJg3fJ.jpg');
	height: 350px;
	width: 550px;
	border-radius: 2px;
	margin: 150px auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	padding: 2%;
	line-height: 120%;
	font-family: 'Arial';
	color: white;
}
#modal-footer {
	text-align: right;
}
#htpModal {
	padding-bottom: 15px;
}
.modal-buttons {
	padding: 14px 18px;
	background-color: blue;
	border: none;
	outline: none;
	border-radius: 90px;
	color: white;
	font-family: 'Arial';
	cursor: pointer;
}
#lettersGuessed {
	display: flex;
	padding-left: 40px;
	font-size: 25px;
	font-family: 'Open Sans', sans-serif;
	color: white;
}
#resetBtn {
	padding: 14px 18px;
	background-color: blue;
	border: none;
	outline: none;
	border-radius: 90px;
	color: white;
	font-family: 'Arial';
	cursor: pointer;
	margin-top: 45px;
	padding-left: 35px;
	padding-right: 35px;
}

#incorrectLetterBank {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: bolder;
	color: white;
}
.lettersGuessedArea {
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
.letter {
	margin: 10px;
}
#wordPop {
	text-align: center;
}
#background {
	background: url("red.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#wrongGuess7 {
	visibility: hidden;
}

#close {
	background: mediumaquamarine;
	color: black;
}
#youWonModal {
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
	display: none;
}
#modal_textboxForWinning {
	background-image: url('https://64.media.tumblr.com/c204a012909fbedcfe42b4f5c2e74cb6/tumblr_oumrc9ua2l1qeyvpto2_r1_500.gifv');
	height: 350px;
	width: 550px;
	border-radius: 2px;
	margin: 150px auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	color: white;
}
.closeWinningModal {
	color: white;
}
.correctGuess {
  color: blue;
}
